@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
  background-color: #141414;
  color: #e5e7eb;
}

.div-40 {
  height: 70vh;
  width: 40%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 70%,
    rgba(0, 212, 255, 0) 100%
  );
}
.headerMobileBG {
  background: linear-gradient(
    to top,
    #000000 0%,
    rgba(0, 0, 0, 0.89) 16.28%,
    rgba(0, 0, 0, 0.599609) 30.66%,
    rgba(0, 0, 0, 0.1) 46.09%,
    rgba(0, 0, 0, 0.0440308) 49.58%,
    rgba(255, 255, 255, 0) 76.42%
  );
  z-index: 1;
}
